.line{
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 1rem;
}

.emptyPages{
    width: 80vw;
    height: 100vh;

    margin-left: 8.5vw;

    font-size: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}